*{
  margin: 0px;
  padding: 0px;
  border-width: 0;
}
.signup-container{
  background-color: whitesmoke;
  .signup-main{
    .signup-main__container{
      margin: 0 auto;
      padding: 0 0 30px;
      width: 700px;
      height: auto;
      background-color: white;
      h2{
        border-bottom: solid 2px whitesmoke;
        height: auto;
        padding: 30px 0 20px;
        color: black;
        text-align: center;
        font-size: 20px;
        ul{
          li{
            color: red;
          }
        }
      }
      .signup-main__content{
        margin: 0 140px;
        height: 100%;
        .signup-main__form-group{
          width: 100%;
          margin: 8px 0 0;
          padding: 24px 16px 40px;
          background-color: white;
          label{
            width: 85px;
            height: 15px;
          }
          .signup-main__form-require{
            width: 32px;
            height: 19px;
            background-color: #3CCACE;
            color: white;
            padding: 2px 4px;
          }
          input{
            width: 80%;
            height: 30px;
            margin: 8px 10px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-weight: lighter;
            font-size: 15px;
            cursor: pointer;
            outline: none;
          }
          input:focus{
            border: 1px solid rgb(79, 185, 255);
          }
          .signup-main__birth_day-select-wrap{
            display: flex;
            .signup-main__select-wrap{
              display: flex;
              select{
                width: 90px;
                margin-top: 5px;
                height: 50px;
                background-color: white;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-weight: lighter;
                font-size: 15px;
                cursor: pointer;
                outline: none;
              }
              select:focus{
                border: 1px solid rgb(79, 185, 255);
              }
              i{  //選択欄のプルダウンマーク
                height: 20px;
                font-size: 20px;
                padding: 0px 3px;
                margin: 0 0 0 -31px;
                position: relative;
                left: 3px;
                top: 22px;
                pointer-events: none;
                background-color: white;
                color: #888;
              }
              span{
                margin: 22px 10px 0 12px;              
              }
            }
          }
        }
          input.red-btn{
            background-color: #3CCACE;
            color: white;
            margin: 24px 0px 0px;
            height: 50px;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
          }
          a{
            height: 100px;
            width: 100px;
          }
        }
        .back-home{
          height: 50px;
          line-height: 50px;
          width: 400px;
          display: block;
          text-align: center;
          background-color: #3CCACE;
          margin: 50px auto 60px;
          position: relative;
          &__btn{
            text-decoration: none;
            color: white;
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      .back-box{
        margin-bottom: 150px;
      }
    }
  }
.input-box{
  display: flex;
}