.signup-container
  = render 'header-credit-card'
  %main.signup-main
    %section.signup-main__container.back-box
      %h2.signup-main__head.signup-main__head--registration
        登録完了
      %label.back-home
        = link_to "トップへ戻る", root_path, class: "back-home__btn"

  = render "modules/logo-footer"