%footer.single-footer
  %nav
    %ul.clearfix

      %li
        %a{href: "#"} プライバシーポリシー
      %li
        %a{href: "#"} FURIMA利用規約
      %li
        %a{href: "#"} 特定商取引に関する表記
  %a.single-footer-logo
    =image_tag "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg"

  %p
    %small © FURIMA
