%footer.exhibition__footer
  %nav
    %ul.exhibition__footer__inner
      %li
        =link_to "プライバシーポリシー", root_path
      %li
        =link_to "フリマ利用規約", root_path
      %li
        =link_to "特定商取引に関する表記", root_path
  =link_to "/", class: "exhibition__footer__logo"  do
    %img{src: "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg", height: "50px",width: "150px"} 
  %p
    %small © FURIMA