=link_to new_item_path class: "purchase" do
  .purchase__btn
    %span.purchase__btn__text 出品する
    =image_tag "http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg",class: "purchase__btn__icon"
