.select-wrap {
  width: 400px;
  height: 48px;                                  
  select {
    width: 400px;
    height: 48px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
    background-color: #fff;
  }
}
//カテゴリ選択欄の表示
.listing-product-detail__category {
  margin-bottom: 40px;
  
  label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    font-weight: 600;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  }
  span {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background: #3CCACE;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  }
  .listing-select-wrapper__box {
    width: 400px;
    height: 48px;                                  
    select {
      width: 400px;
      height: 48px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
      background-color: #fff;
    }
  }
  .listing-select-wrapper{
  }
  .listing-select-wrapper__added{
    margin-top: 10px;
  }
}

.form-group {
  height: 70px;
  margin-bottom: 40px;
  
  label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    font-weight: 600;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  
    span {
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
      background: #3CCACE;
      font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
    }
  }
  div {
    margin-top: 5px;
    width: 400px;
    height: 48px;
  }
}

.exhibition {
  background: #f5f5f5;

  &__header {
    height: 128px;
    text-align: center;

    h1 {
      padding-top: 40px;

      a {
        width: 185px;
        height: 49px;
        line-height: 49px;

        img {
          width: 185px;
          height: 49px;
        }
      }
    }
  }
  &__main {
    display: block;

    &__container {
      width: 700px;
      margin: 0 auto;

      &__inner {
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        background-color: white;

        &__head {
          padding: 32px 16px;
          font-size: 22px;
          font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
          line-height: 1.5;
          font-weight: bold;
          border-style: solid;
          text-align: center;
        }
        .new_item {
          border-top: 1px solid #eee;

          &__image {
            height:300px;
            padding: 0px 40px;

            &__upload {
              margin-top: 30px;

              &__head {
                font-weight: 600;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                display: inline-block;
                font-size: 14px;

                &__require {
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  // background: #3CCACE;
                  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                }
              }
              .image-box{
                height: 160px;
                margin-top: 30px;
                display: flex;
                
                &__container {
                  background: #f5f5f5;
                  border: 1px dashed #ccc;
                }
                
                &__item-num-0 {
                  height: 160px;
                  width: 620px;

                  &__input-area {
                    height: 10px;
                    margin: auto;
                    text-align: center;
                    background: #f5f5f5;
                    border: 1px dashed #ccc;
                    margin-left: 5px;
                    align-items: center;

                    label {
                      display:block;
                      height: 100%;
                      width: 100%;
                      align-items: center;

                      i {
                        margin-top: 70px;
                        
                      }
                      i::before {
                       
                      }
                    }
                  }
                }
              }  
            }
          }

          .content-name {
            padding: 0px 40px 40px 40px;
            border-top: 1px solid #eee;

            &__form-group {

              label {
                font-weight: 600;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                font-size: 14px;
              }

              &__require {
                background: #3CCACE;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
              }

              &__input-default {
                height: 28px;
                width: 600px;
                margin: 8px 0 0;
                padding: 10px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                font-family: inherit;
                -webkit-appearance: none;
              }
            }
            &__form-group {
              margin: 40px 0 0;

              label {
                font-weight: 600;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                display: inline-block;
              }
              &__require {
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #3CCACE;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
              }
              &__textarea-default {
                height: 122px;
                width: 600px;
                margin: 8px 0 0;
                display: block;
                max-width: 100%;
                min-height: 104px;
                padding: 10px;
                border: 1px solid #ccc;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                background-color: #fff;
                font-size: 16px;
                line-height: 1.5;
              }
            }
          }
          .content {
            padding: 0px 40px;
            padding-top: 40px;
            border-top: 1px solid #eee;
            display: flex;
            
            &__header {
              width: 180px;
              display: flex;

              &__head {
                color: #888;
                font-size: 14px;
                min-width: 90px;
                font-weight: 600;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
              }
              &__question {
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin-top: 3px;
                background: #0099e8;
                color: #fff;
                line-height: 14px;
                font-size: 12px;
                text-align: center;
                text-decoration: none;
              }
            }  
            &__form-box {
              float: right;
              right: 10px;
              width: 400px;
              margin-left: 50px;
            }  
          }
          .content-price {
            padding: 40px;
            border-top: 1px solid #eee;
            display: flex;

            &__header {
              display: flex;
              width: 250px;

              &__head {
                color: #888;
                font-size: 14px;
                min-width: 90px;
                font-weight: 600;
                font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
              }
              &__question {
                margin-top: 5px;
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #0099e8;
                color: #fff;
                line-height: 14px;
                font-size: 12px;
                text-align: center;                
                text-decoration: none;
              }
            }
            &__form-box {
            
              &__price {

                &__form-group {

                  &__inner {
                    
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #ccc;

                    &__left {
                      vertical-align: middle;
                      width: 200px;
                      height: 48px;
                      padding: 0px 0px 24px;
                      line-height: 72px;
                      font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                      font-size: 14px;
                  
                      &__require {
                        background: #3CCACE;
                        
                        margin: 0 0 0 8px;
                        padding: 2px 4px;
                        width: 32px;
                        height: 19px;
                        border-radius: 2px;
                        color: #fff;
                        font-size: 12px;
                        vertical-align: top;
                        font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                      }
                    }
                    .bold {
                      font-weight: bold;
                    }
                    .boldest {
                      font-weight: 600;
                      font-size: 16px;
                    }
                    &__right {
                      line-height: 72px;
                      
                      display: flex;

                      &__input {
                        font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
                        font-weight: lighter;
                        font-size: 14px;
                        margin-right: 10px;

                      }  
                      .amount-input {
                        margin-top: 10px;
                        padding: 10px 16px 8px;
                        width: 123px;
                        height: 30px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                      }                     
                    }
                  }
                }
                .none {
                  margin-top: 30px;
                  border: solid 1px white;
                  display: flex;
                  justify-content: space-between;
                }
              }
            }
          }
          .btn-box {
            font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
            font-size: 14px;
            padding: 40px;
            border-top: 1px solid #eee;

            div {

              p {
                line-height: 1.5;
                a {
                  color: #0099e8;
                  text-decoration: none;
                }
              }
            }
            &__btn-default {
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
            }
            .btn-red {
              background: #3CCACE;
              border: 1px solid #3CCACE;
              margin: 40px 0 0;
              color: #fff
            }
            .btn-gray {
              background: #aaa;
              border: 1px solid #aaa;
              color: #fff;
              width: 45%;
              text-align: center;
              margin: 24px auto 0;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &__footer {
    width: 456px;
    height: 200px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-top: 40px;
    text-align: center;

    &__inner {
      li {
        display: inline-block;
        font-size: 12px;
        margin: 0px 0px 0px 16px;
        font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
    &__logo {
      margin: 30px auto 0px;
      display: block;
      img {
        background-color: #cecece;
        padding: 5px 10px;
        border-radius: 15px;
        vertical-align: middle;
      }
    }
    p {
      margin-top: 8px;
      small {
        font-size: 12px;
        font-weight: lighter;
        font-family: "Source Sans Pro", Helvetica, Arial,sans-serif;
      }
    }
  }
}
.fee{
  margin-top: 28px;
}

.item-num-0{
  width: 100%;
}
.item-num-1{
  width: 491px;
}
.item-num-2{
  width: 363px;
}
.item-num-3{
  width: 234px;
}
.item-num-4{
  width: 106px;
}
//下段のfile_field
.item-num-5{
  width: 100%;
}
.item-num-6{
  width: 491px;
}
.item-num-7{
  width: 363px;
}
.item-num-8{
  width: 234px;
}
.item-num-9{
  width: 106px;
}

.item-image {
  width: 116px;
  border: 1px dashed #ccc;
  margin-left: 5px;
  color: blue($color: #11c8ff);
}  

#image-box__container {
  height: 100%;
}

#image-box__container__input-area {
  height: 100%;
}

#img-file {
  height: 100%;
}

.item-image__operetion {
  text-align: center;
  border-top: 1px dashed #ccc;
  line-height: 44px;
  color: rgb(27, 226, 252);
  cursor: pointer;
}

.exhibition__main__container__inner__form__content__header__question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-top: 3px;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}