.header {
 height: 100px;
 width: 100vw;
 padding-bottom: 10px;
 #category_link{ //全カテゴリのリンクに付与*黒で
  text-decoration: none;
  color: #333;
 }
 &__inner {
   height: 82px;
   width: 70%;
   margin: auto;
   padding: 20px 0px;
 
   &__main {
     display: flex;
     align-items: center;
     width: 100%;
     height: 50%;
     
     &__icon {
       width: 140px;
       margin-right: 30px;

       a {
         height: 100%;
         width: 100%;

         img {
           height: 100%;
           width: 100%;
         }
       }
     }
     &__search-box {
       margin-left: auto;
       width: 836px;
       height: 36px;
       display: flex;

         &__input{
           padding-left: 10px;
           width: 800px;
           height: 36px;
           border: solid 1px rgb(202, 201, 201);
         }
           &__icon {
             width: 36px;
             height: 36px;
             background-color: #3CCACE;
             border: 0;
             border: none;

             img {
               height: 80%;
               width: 80%;
               margin: auto;
               padding-top: 5px;
             }
           }
     }
   }
   &__nav {
     height: 50%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     &__left {
       position: relative;
       width: 180px;

       &__lists {
        line-height: 50px;   
        .categorybtn {
          #btn{
           color: #333;
           text-decoration: none;
           font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          }
          #btn:hover{
           color: #0099E8;
          }
         }
         .categorybtn:hover + .categories{
          display: block; 
         }
         .categories:hover{
          display: block;
         }
         .categories {
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          line-height: 40px;
          font-size: 14px;
          color: #333;
          font-weight: 300; 
          z-index: 1;
          display:none;
          position: relative;
          margin-top: -1px;
          border: 1px solid rgb(235, 235, 235);
          &__li{
           .parent-list{
             padding: 2px 0 2px 5px;
             background-color: white;
           }
           .parent-list:hover{
            background-color: #3CCACE;
            color: white;
           }
           .parent-list:hover + .child-categories{
            display:block;
           }
           .child-categories:hover{
            display: block;
           }
           .child-categories{
            min-height: 650px;
            background-color: white;
            display:none;
            position: absolute;
            top: 0;
            left: 178px;
            border:1px solid rgb(235, 235, 235);
            .relative-for-grand{
             position: relative;
            }
            &__li{
              .child-list{
               width: 160px;
               padding-left: 5px;
               background-color: white;
              }
              .child-list:hover + .grand-categories{
               display:block;
               background-color: white;
              }
              .child-list:hover{
               background-color: rgb(233, 233, 233);
              }
              .grand-categories:hover{
               display: block;
               background-color: white;
              }
              .grand-categories{
               width: 220px;
               min-height: 650px;
               display:none;
               position: absolute;
               top: 0;
               left: 166px;
               border: 1px solid rgb(235, 235, 235);
               &__li{
                padding-left: 5px;
                background-color: white;
               }
               &__li:hover{
                background-color: rgb(233, 233, 233);
               }
              }
            }
           }
          } 
         }
       }

       &__lists-b {
         margin-left: 30px;
         margin-top: 12px;
         position: absolute;
         top: 0px; 
         left: 80px;
         a {
           color: black;
           text-decoration: none;
           font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
         }
         a:hover{
          color: #0099E8;
         }
       }
     }
     &__right {
       display: flex;
       &__login {
         a {
           text-decoration: none;
           color: black;
           line-height: 50px;
           margin-right: 30px;
           font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
         } 
       }
     }
   }
 }
}
button{  //虫眼鏡ボタン
 background-color: #3CCACE;
 padding: 1px;
}
