.header {
  height: 100px;
  width: 100vw;
  margin-bottom: 10px;

  &__inner {
    height: 82px;
    width: 70%;
    margin: auto;
    padding: 20px 0px;
  
    &__main {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50%;
      
      &__icon {
        width: 140px;
        margin-right: 30px;

        a {
          height: 100%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
      &__search-box {
        margin-left: auto;
        width: 836px;
        height: 36px;
        display: flex;

          &__input{
            padding-left: 10px;
            width: 800px;
            height: 36px;
            border: solid 1px rgb(202, 201, 201);
          }
            &__icon {
              width: 36px;
              height: 36px;
              background-color: #3CCACE;
              border: 0;
              border: none;

              img{
                height: 80%;
                width: 80%;
                margin: auto;
                padding-top: 5px;
              }
              }
            }
      }
    }
    &__nav {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      
      &__left {
        display: flex;
        position: relative;
        width: 400px;
        
        &__lists {
          line-height: 50px;
          

          a {
            color: black;
            text-decoration: none;
            font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          }

          &__tree {

            &__categories {
              line-height: 40px;
              width: 240px;
              background-color: #ffe8ca;
              z-index: 1;
              // 通常時見えなくする
              display: none;
            }
          }
        }
        &__lists-b {
          position: absolute;
          margin-left: 120px;
          margin-top: 12px;

          a {
            color: black;
            text-decoration: none;
            font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          }
        }
      }
      &__right {
        display: flex;

        &__login {
          margin-right: 50px;
          a {
            text-decoration: none;
            color: black;
            line-height: 50px;
            font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          } 
        }
        &__new {
          a {
            text-decoration: none;
            color: black;
            line-height: 50px;
            font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          }  
        }
      }
    }
  }

button{
  background-color: #3CCACE;
  padding: 1px;
}
.main {
  width: 100vw;
  &__visual {
    height: 560px;
    width: 100%;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;


    &__content {
      width: 70%;
      height: 70%;
      padding-top: 150px;
      padding-left: 60px;
    
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__btn {
        padding-top: 20px;

        &__aBtn {
          width: 180px;
          margin-right: 10px;

          img {
            width: 180px;
          }
        }
        &__gBtn {
          width: 180px;

          img {
            width: 180px;
          }
        }
      }
    }
  }
  &__introduction {
    padding: 60px 20px;

    &__subtitle {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      padding-bottom: 20px;
      position: relative;
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    }
    &__subtitle::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__lists {
      text-align: center;
       display: flex;
       max-width: 1020px;
       width: 100%;
       margin: 0 auto;
       padding-top: 20px;
       padding-left: 50px;
       font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

      &__list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__pict {
          position: relative;
          margin-bottom: 20px;
          width: 100%;

          &__number {
            display: inline-block;
            position: absolute;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img {
            width:300px;
            height: 300px;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;

          span {
            color: #3CCACE;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  &__middle {
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-size: cover;
    height: 400px;
    padding-left: 200px;
    display: flex;
    align-items: center;

    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      width: 100%;
      margin: 0 auto;

      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__btn {
        display: flex;
        
        &__aBtn {
          margin-right: 10px;
          width: 180px;
        }
        &__gBtn {
          width: 180px;
        }
      }
    }
  }
  &__feature {
    padding: 60px 100px;

    &__head {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      padding-bottom: 20px;
      position: relative;
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    }
    &__head::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__items{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      padding-left: 70px;
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

      &__item {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__img {
          position: relative;
          margin-bottom: 20px;
          width: 100%;
          
          img {
            width:220px;
            height: 340px;
          }
        }
        &__substitle {

        }
        &__datail {

        }
      }
    }
  }
  &__items {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #f8f8f8;

    &__inner {
      padding: 80px 0 0;

      &__head {
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        
        a {
          text-decoration: none;
          color: #3CCACE;
          font-size: 24px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
        &__title {
          font-weight: bold;
        }  

      }
      &__lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;

        .items_list {
          width: 220px;
          display: inline-block;
          background-color: #fff;

          a {
            text-decoration: none;
            font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          }
          &__img {
            width: 220px;
            height: 150px;
            position: relative;
  
            img {
              position: absolute;
              width: 100%;
              z-index: auto;
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          &__body {
            background-color: white;
            color: #333;
            padding: 16px;
            
            &__name {
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
              font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
            }
            &__details {
              font-size: 16px;

              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }  
        }
      }
    }
  }
}