!!!
%html
  %head
    %title FreemarketSample67d
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-26d056ac003f4e4f9d1ad389ac9e51f4f59d6236cc12a75b4ca86167f653c860.js"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "NwZLex/lV/R0DDajCApME2FTBCSnjlHuyJYWwethoQroYIvxLCMmtxxcxb0GZLNt+LlNO7lgtwYf4jOLRPMYUA==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-2e096b94f60fe4efbadc0b2fe0199ebc3f338134ada36d1d73b67e994e191614.css", :media => "all", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    =yield